*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body,html,#root{
  height: 100%;
  width: 100%;
  display: flex;
}
.cards{
  padding: 3rem;
  width: 100%;
  background-color: black;
  display: flex;
  gap:0.4rem;
  flex-wrap: wrap;
}
.task{
  background-color: rgb(96, 96, 96);
  display: flex;
  flex-direction: column;
  width:fit-content;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 10px;
  height: fit-content;
}
form{
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.cards form input{
  width:3rem;
  height:2rem;
  width: 50%;
  padding: 0.5rem;
}
.cards form button{
  padding: 0.65rem;
  height:2rem;
  border: none;
  color: black;
  background-color: white;
  flex-grow: 1;
}
